{{!  }}
<div class='tought_form_container'>

   <a href='/toughts/dashboard'>Voltar</a>
   <h1>Editando em Pensamento:</h1>

   <form action='/toughts/edit' method='post'>

      <input type='hidden' name='id' value='{{tought.id}}' />

      <div class='form_control'>
         <label for='title'>Pensamento:</label>
         <input
            type='text'
            name='title'
            placeholder='Digite o pensamento...'
            value='{{tought.title}}'
         />
      </div>

      <input type='submit' value='Editar Pensamento' />

   </form>

</div>