<h1>Criar produto</h1>

<form action='/products/create' method='post'>
   <div class='form_control'>
      <label for='name'>Nome do produto:</label>
      <input type='text' name='name' placeholder='Digite o nome do produto: ' />
   </div>

   <div class='form_control'>
      <label for='price'>Preço do produto: R$</label>
      <input
         type='text'
         name='price'
         placeholder='Digite o preço do produto: '
      />
   </div>

   <div class='form_control'>
      <label for='description'>Descrição:</label>
      <textarea name='description' placeholder='Descriçao'></textarea>
   </div>

   <input type='submit' class='btn' value='Cadastrar' />
</form>